Requirement already satisfied: async-generator==1.10 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 1)) (1.10)
Requirement already satisfied: attrs==21.4.0 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 2)) (21.4.0)
Requirement already satisfied: beautifulsoup4==4.10.0 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 3)) (4.10.0)
Requirement already satisfied: bs4==0.0.1 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 4)) (0.0.1)
Requirement already satisfied: certifi==2021.10.8 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 5)) (2021.10.8)
Requirement already satisfied: cffi==1.15.0 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 6)) (1.15.0)
Requirement already satisfied: charset-normalizer==2.0.10 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 7)) (2.0.10)
Requirement already satisfied: colorama==0.4.4 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 8)) (0.4.4)
Requirement already satisfied: configparser==5.2.0 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 9)) (5.2.0)
Requirement already satisfied: crayons==0.4.0 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 10)) (0.4.0)
Requirement already satisfied: cryptography==36.0.1 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 11)) (36.0.1)
Requirement already satisfied: h11==0.12.0 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 12)) (0.12.0)
Requirement already satisfied: idna==3.3 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 13)) (3.3)
Requirement already satisfied: lxml==4.7.1 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 14)) (4.7.1)
Requirement already satisfied: outcome==1.1.0 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 15)) (1.1.0)
Requirement already satisfied: pycparser==2.21 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 16)) (2.21)
Requirement already satisfied: pyOpenSSL==21.0.0 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 17)) (21.0.0)
Requirement already satisfied: requests==2.27.1 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 18)) (2.27.1)
Requirement already satisfied: selenium==4.1.0 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 19)) (4.1.0)
Requirement already satisfied: six==1.16.0 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 20)) (1.16.0)
Requirement already satisfied: sniffio==1.2.0 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 21)) (1.2.0)
Requirement already satisfied: sortedcontainers==2.4.0 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 22)) (2.4.0)
Requirement already satisfied: soupsieve==2.3.1 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 23)) (2.3.1)
Requirement already satisfied: trio==0.19.0 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 24)) (0.19.0)
Requirement already satisfied: trio-websocket==0.9.2 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 25)) (0.9.2)
Requirement already satisfied: urllib3==1.26.8 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 26)) (1.26.8)
Requirement already satisfied: wsproto==1.0.0 in ./venv/lib/python3.8/site-packages (from -r requirements.txt (line 27)) (1.0.0)
